*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);

}

.div{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
}


/* sedens */

.sedens{
    background-color: hsl(31, 77%, 52%);
    padding: 40px 45px;
    
}
.sedens h1{
    font-family: Big Shoulders Display;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(0, 0%, 95%);
}
.sedens p{
    font-size: 15px;
    font-weight: 400;
    font-family: Lexend Deca;
    padding-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
}
.seden-botton{
    background-color: hsl(31, 77%, 52%);
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 20px;
    color: hsl(0, 0%, 95%);
}

/* suv */

.suvs{
    background-color: hsl(179, 100%, 13%);
    padding: 40px 45px;
}
.suvs h1{
    font-family: Big Shoulders Display;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(0, 0%, 95%);
}
.suvs p{
    font-size: 15px;
    font-weight: 400;
    font-family: Lexend Deca;
    padding-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;

}
.suv-botton{
    background-color: hsl(179, 100%, 13%);
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 20px;
    color: hsl(0, 0%, 95%);
}

/* luxury */

.luxury{
    background-color: hsl(184, 100%, 22%);
    padding: 40px 45px;
}
.luxury h1{
    font-family: Big Shoulders Display;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(0, 0%, 95%);
}
.luxury p{
    font-size: 15px;
    font-weight: 400;
    font-family: Lexend Deca;
    padding-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
}
.luxury-botton{
    background-color: hsl(184, 100%, 22%);
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 20px;
    color: hsl(0, 0%, 95%);
}